body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px;
    width: 100%;
    min-width: 400px;
    min-height: 200px;
    max-height: 400px;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

#outputArea {
    width: 100%;
    max-width: calc(100% - 20px);
    height: 150px; /* Fixed height for the input container */
    overflow: hidden; /* Hide overflow content */
    font-size: 14px;
    line-height: 2;
    border: 1px solid black;
    padding: 40px 10px;
    position: relative;
    display: flex;
    flex-direction: column-reverse; /* This makes the text flow from bottom to top */
    box-sizing: border-box;
}

#errorMessage {
    position: fixed; 
    top: 200px;
    right: 40px;
    padding: 15px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

#errorMessage.show {
    display: block;
    animation: slideIn 0.5s ease-out;
}
